/* body::-webkit-scrollbar {
    display: none;
} */

body {
    font-family: 'Abel', sans-serif!important;
    background-color: rgb(73, 73, 73)!important;
    color: white;
    height: 100%;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
}

p.leftbarP {
    color: rgb(85, 85, 85);
}

.leftNavbar {
    height: 100%;
    min-height: 100vh;
}

.uni-bg {
    background-color: #2B2D42;
}

.float {
    float: left;
}

.margin {
    margin-top: 7%;
}

/* .col {
    display: flex;
    flex-direction: column;
} */

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.con-2 {
    margin-top: 1%;
    width: 10%;
    height: 100%;
}

.flex {
    display: flex;
}

.emneGrid {
    display: grid;
    margin-left: 6%;
    grid-template-columns: repeat(1, 146px);
}