.theBall {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 1px solid black;
    background: radial-gradient(circle, rgba(59,59,59,1) 0%, rgba(18,18,18,1) 33%, rgba(9,9,9,1) 100%);

}

.theAnswerBox {
    border: 1px solid white;
    height: 200px;
    width: 200px;
    background-color: white;
    color: black;
    display: table-cell;
    text-align: center;
    border-radius: 100%;
    display: flex;
    font-size: x-large;
}

input {
    background-color: rgb(53, 50, 66);
    color: rgb(255, 163, 43);
    border: solid black 1px;
    font: inherit;
}

h1 {
    text-transform: uppercase;
}