button.buttons {
    height: 40px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    color: white;
    transition: color 0.4s;
    position: relative;
    text-decoration: none;
    background-color: inherit;
    border: solid 1px #ffffff;
}

.hover:before {
    content:"";
    position: absolute;
    top: 0;
    left: -50px;
    width: 0;
    height: 100%;
    background: #5a1010;
    transform: skewX(35deg);
    z-index: -1;
    transition: width 0.2s;
}

.buttons {
    margin-bottom: 20px;
    margin-top: 5px;
}

.buttons:hover {
    color: rgb(181, 182, 182);
}

.buttons:hover:before {
    width: 175%;
}