.absolutename { 
    position: absolute;
    right: 800px;
    background-color: rgba(0, 0, 0, 0.281);
    top: 200px;
    padding: 10px;
}

.absoluteimg {
    position: absolute;
    right: 900px;
    top: 300px;
}




/* .pokemon0Level {
    position: absolute;
    left: 860px;
    top: 85px;
    padding: 10px;
}
.pokemon0Name {
    position: absolute;
    left: 750px;
    top: 90px;
    padding: 10px;
}
.pokemon0img{
    position: absolute;
    left: 730px;
    top: 110px;
    padding: 10px;
}

.pokemon1Level {
    position: absolute;
    right: 720px;
    top: 105px;
    padding: 10px;
}
.pokemon1Name {
    position: absolute;
    right: 840px;
    top: 110px;
    padding: 10px;
}
.pokemon1img{
    position: absolute;
    right: 790px;
    top: 125px;
    padding: 10px;
}


.pokemon2Level {
    position: absolute;
    left: 860px;
    top: 213px;
    padding: 10px;
}
.pokemon2Name {
    position: absolute;
    left: 750px;
    top: 220px;
    padding: 10px;
}
.pokemon2img{
    position: absolute;
    left: 730px;
    top: 235px;
    padding: 10px;
} */