body {
    font-family: 'Abel', sans-serif !important;
    background-color: rgb(73, 73, 73) !important;
    color: rgb(255, 255, 255);
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.textbuble {
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    padding: 10px;
}

.userMsg {
    margin-left: auto;
    background-color: rgb(114, 114, 211);
    margin-bottom: 20px;
}

.botMsg {
    margin-right: auto;
    color: white;
    background-color: rgb(102, 102, 102);
    margin-bottom: 20px;
}

.parentTextBox {
    width: 20%;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.textMsgBox {
    padding: 30px;
    height: 400px;
    overflow-y: auto;
}

#img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


#chatBotboxmessages {
    color: black;
    font-weight: bold;
    font-size: x-large;
    height: 40px;   
    display: flex;
    text-align: center;
    align-items: center;
    border: solid 2px black;
    background-color: rgb(114, 114, 211);
}

#messages {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 98.3%;
    border: 1px black solid;
    height: 50px;
}

.border {
    border: solid 2px black;
}

.questionBox {
    height: 100%;
    color: black;
    padding: 10px;
    background-color: white;
}