body {
    font-family: 'Abel', sans-serif;
    background-color: #25232e;
    color: #e76f51;
    height: 100%;
}

hr {
    border: 1px solid #264653;
}

.border {
    border: 2px solid #264653;
}

.textaligncenter {
    text-align: center;
}

.transform {
    transform: translate(-50%,-50%);
}

.wrapper {
    overflow: hidden;
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gridItem {
    display: flex;
    justify-content: center;
    align-items: center;
}