body {
    font-family: 'Abel', sans-serif !important;
    background-color: rgb(73, 73, 73) !important;
    color: rgb(255, 163, 43);
    height: 100%;
}

.border {
    border: solid 2px rgb(23, 22, 29);
}

.textaligncenter {
    text-align: center;
}

.wrapper {
    width: 30%;
    display: table;
    margin: 0 auto;
    background-color: rgb(37, 35, 46);
}

.padding {
    padding: 10px;
    margin: 0;
}

.center {
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.grid-5 {
    display: grid;
    grid-template-columns: 1fr 30px 1fr;
}