.switchButton {
    width: 120px;
    height: 50px;
    text-transform: uppercase;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: rgb(87, 86, 86);
    cursor: pointer;
    z-index: 2;
    -webkit-box-shadow: inset 0 3px 0 #4ca084, inset 0 -3px 0 #4ca084;
    -moz-box-shadow: inset 0 3px 0 #4ca084, inset 0 -3px 0 #4ca084;
    box-shadow: inset 0 3px 0 #4ca084, inset 0 -3px 0 #4ca084;
}

.switchButton:active {
    top: 3px;
}

.switchButton:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4ca084;
    transition: all .15s;
    z-index: -2;
}

.switchButton:hover {
    color: white;

}

.switchButton:hover:after {
    width: 100%;
}

.switchButton:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;

}