.overlayBox {
    z-index: 10;
    background-color: rgba(0, 0, 0, 90%);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#overlay {
    display: block;
}

#victory {
    display: none;
}

#startGame {
    background-color: white;
    color: black;
    transition: 0.2s;
}

button#startGame:hover {
    background-color: rgb(37, 35, 46);
    color: white;
    transition: 0.2s;
}