body {
    font-family: 'Abel', sans-serif !important;
    background-color: rgb(73, 73, 73) !important;
    color: rgb(255, 255, 255);
    height: 100%;
}

.textalignCenter {
    text-align: center;
}

.oracleBottomBox {
    height: 100%;
    background-color: rgb(48, 48, 48);
}

.wrapper {
    width: 30%;
    display: table;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.margin-padding {
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
}

.border {
    border: solid 2px black;
}



